<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="form-style-5">
        <form>
<fieldset>
<legend><span class="number">1</span> Candidate Info</legend>
<input type="text" name="field1" placeholder="Your FirstName *">
<input type="text" name="field1" placeholder="Your LastName *">
<input type="email" name="field2" placeholder="Your Age *">
<input type="text" name="field1" placeholder="Your Number *">
<input type="text" name="field1" placeholder="Your Total Experience *">
<input type="text" name="field1" placeholder="Your Serviceable City *">
<textarea name="field3" placeholder="About yourself"></textarea>

</fieldset>
</form>
</div>
      </div>
     
        <div class="col-12 col-md-4">
           <div class="form-style-5">
          <form>
            <fieldset>
<legend><span class="number">2</span>Social Links</legend>
<input type="text" name="field1" placeholder="Your LinkedIN Link *">
<input type="text" name="field1" placeholder="Your Behance Link *">
<input type="text" name="field1" placeholder="Your Website Link *">
<input type="text" name="field1" placeholder="Your Resume Link *">
<input type="text" name="field1" placeholder="Your Other Link *">
<textarea name="field3" placeholder="About Your School"></textarea>
</fieldset>
          </form>
        </div>
      </div>
        <div class="col-12 col-md-4">
          <div class="form-style-5">
        <form>
          <fieldset>
<legend><span class="number">3</span>Working Expectations</legend>
<label for="job">Availability:</label>
<select id="job" name="field4">
  <option value="fishkeeping">Full Day </option>
  <option value="reading">No of Hrs per Day</option>
</select>  
<label for="job">Rate Currency:</label>
<select id="job" name="field4">
  <option value="fishkeeping">IND</option>
  <option value="reading">Dollar</option>
</select>      
<input type="text" name="field1" placeholder="working period (hr)*">
<label for="job">Type of salary:</label>
<select id="job" name="field4">
  <option value="fishkeeping">Fixed </option>
  <option value="reading">Negotiable</option>
  <option>Perfomance Based</option>
  <option>Pro Bono</option>
</select>  
<label for="job">Primary Skills:</label>
  <select id="job" name="field4">
  <option value="fishkeeping">Buisness Development Sales</option>
  
</select> 
<input type="submit" value="Apply" />
</fieldset>
        </form>
      </div>
      </div>
    </div>
 
 
</div>
